@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Italic.eot');
    src: local('Cera Pro Italic'), local('CeraPro-Italic'),
        url('../fonts/CeraPro/CeraPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Italic.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-BlackItalic.eot');
    src: local('Cera Pro Black Italic'), local('CeraPro-BlackItalic'),
        url('../fonts/CeraPro/CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-BlackItalic.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Light.eot');
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('../fonts/CeraPro/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-BoldItalic.eot');
    src: local('Cera Pro Bold Italic'), local('CeraPro-BoldItalic'),
        url('../fonts/CeraPro/CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-BoldItalic.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('../fonts/CeraPro/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Thin.eot');
    src: local('Cera Pro Thin'), local('CeraPro-Thin'),
        url('../fonts/CeraPro/CeraPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-Thin.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-MediumItalic.eot');
    src: local('Cera Pro Medium Italic'), local('CeraPro-MediumItalic'),
        url('../fonts/CeraPro/CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-MediumItalic.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-LightItalic.eot');
    src: local('Cera Pro Light Italic'), local('CeraPro-LightItalic'),
        url('../fonts/CeraPro/CeraPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-LightItalic.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-ThinItalic.eot');
    src: local('Cera Pro Thin Italic'), local('CeraPro-ThinItalic'),
        url('../fonts/CeraPro/CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro/CeraPro-ThinItalic.woff') format('woff'),
        url('../fonts/CeraPro/CeraPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

